<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  </head>
  <body>
    <h1>Users List</h1>

    {% if users_list %}
       <ol>
      {% for i in users_list %}
      <li>User Info</li>
      <ul>
      <li>First Name : {{i.first_name}}</li>
      <li>Last Name : {{i.last_name}}</li>
      <li>Email Name : {{i.email}}</li>
    </ul>

    {% endfor %}
      </ol>

    {% endif %}




  </body>
</html>
